body {
    background-color: DarkSlateGray;
    color: white;
  }
  #fram {
    text-align: center;
    border: 5px solid white;
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
    width: 50%;
    margin-top: 100px;
    margin-left: 550px;
    width: 300px;
  }
  #content_alignment {
    text-align: left;
    padding-bottom: 2%;
    margin: 5px;
  }